<div>
  <br>
  <br>
  <div class="chart-data-selection">
    <button class="btn btn-primary" (click)="chartByColor()">Color</button>
    <button class="btn btn-primary" (click)="chartBySize()">Size</button>
  </div>
  <div style="display: block" *ngIf="!isLoading">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
